.app > header {
	background-color: hsl(107, 41%, 76%);
	padding: 20px;
}

.app > header > h1 {
	color: white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	text-align: center;
	font-size: 2rem;
}

.app > header > ul {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

.app > header > ul > li {
	margin: 0 10px;
	text-transform: uppercase;
}